$font: "Open Sans","Helvetica Neue",-apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

//Colors
$floralwhite: #fffcf2;
$palesilver: #ccc5b9;
$blackolive: #403D39;
$eerieblack: #252422;
$flame: #eb5e28;

$white: #fff;
$black: #000;
$maroon: #83333e;
$off-white: #f2f4f5;

html,
body {
    font-family: $font;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background-color: $eerieblack;

}


.bottom-nav {
    width:100%;
    background-color:$blackolive;
    overflow:auto;
    position: fixed;
    bottom: 0px;
    box-shadow: 2px -2px 2px 1px $flame;
    z-index: 10;

    @media (min-width: 768px){
        width: 15%;
        height: 100%;
        top: 0px;
        left: 0px;
        bottom: auto;
        background: $eerieblack;
    }

    .bottomlink{
        float: left;
        text-align: center;
        width: 25%;
        padding: 12px 0;
        transition: all 0.3s ease;
        color: $floralwhite;
        font-size: 1.3rem;
        text-decoration: none;
        
       
        @media (min-width: 768px){
            width: 100%;
            top: 0px;
            left: 0px;
            bottom: auto;
            font-size: 1.8rem;
            
        }
    }
    a.bottomlink:hover{
        background-color: $blackolive;
        text-decoration: none;
    }

    .active{
        background-color: $eerieblack;
        @media (min-width: 768px){
            background-color: $blackolive;
            
        }
        
    }
    
    .logo
    {
        top: 0px;
        margin-bottom: 0px;
        text-shadow: 4px 4px 10px $eerieblack;
        //border-radius: 50%;
        background: $blackolive;
        color:$flame;
        text-align: center;
        //padding-top: 20px;
        text-decoration: none;
        
        
        font-size: 3rem;

        @media (max-width:768px){
            display: none;
        }
        //height: ;
    }
    h1 {
        margin: 0px;
    }

    
}

hr { background-color: $flame; height: 2px; border: 0; margin-bottom: 0px;}


//PAGE CONTENT

.content-pane{
    top: 0px;
    margin-top: 0px;
    color: $white;
    margin-bottom: 15%;
    @media (min-width: 768px) {
        margin-left: 20%;
        margin-right: 5%;
        
    }
    
    .hugetext{
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 6rem;
        font-weight: 600;
        
        @media (min-width: 768px) {
                font-size:10rem;
         }

         @media (max-width: 420px) {
            font-size:4rem; //very small for very small phones
     }
        
    }
    .bigtext{
        font-size:3rem;
        font-weight: 400;
        margin-bottom: 0px;
        margin-top: 0px;
        @media (min-width: 768px) {
            font-size:6rem;
        }
        
    }

    .normaltext{
        font-size: 1.2rem;
        font-weight: 300;
        @media (min-width: 768px) {
            font-size:2rem;
        }
    }
    .smalltext{
        font-size: 1rem;
        font-weight: 300;
    }
    .leftalign{text-align: left;}
    .centeralign{text-align: center;}
    .rightalign{text-align: right;}
    h1 {
        font-size: 3rem;
        text-align: center;
    }

    

    .project-flexcontainer{
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        width: 100%;
        background-color: $blackolive;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 15px;
        
        
    }
    .project-flexitem{
        width: 100%;
        margin: 2%;
        flex-grow: 1;
        
        @media (min-width: 768px) {
            width: 45%;
        }   
    }
    .project-flexitemtext{
        
        font-size: 1.2rem;
        font-weight: 300;
        @media (min-width: 768px) {
                font-size: 1.7rem;
        }
        @media (min-width: 1440px) {
            font-size: 2.2rem;
        }
    }
    
    .highflexpriority{
        flex-grow:2;
    }
    .imgshadow{
        box-shadow: 10px 10px 5px #222222;
    }
    .imgborder{
        border: 2px solid #222222;
    }

    .models-pane{

        width: 100%;
        
        background-color: $blackolive;
        margin-top: 2%;
        margin-bottom: 2%;
        border-radius: 15px;
        ul {

            padding-inline-start: 0;
            
            padding: 2%;
            display: flex;
            flex-wrap: wrap;
            list-style: none;
            justify-content: center;
            
       
            width: 96%;
        }
        li{
            
            
            margin: 0;
            flex-grow: 1;
      
            
            min-width: 100%;
            @media (min-width: 768px) {
                min-width: 50%;
                
            }
            
        }
        li:last-child{
            flex-grow: 10;
        }
        .renderImg {
            
            height: 100%;
            width: 100%;
            object-fit: cover;
            vertical-align: bottom;
            
    
        }
    }
}



